@use "../common.scss" as common;

@mixin cardContent {
    .content_block {
        display: flex;
        flex-direction: column;

        .task_name_block {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            width: 27rem;

            .task_name {
                cursor: pointer;
                @include common.textOverflow;
            }
        }
        .info_block {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            .assignee_block {
                display: flex;
                align-items: center;
                gap: 5px;
                .assignee_name {
                    width: 10rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    text-align: center;
                }
            }
        }
    }
    .details_block {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.card {
    width: 100%;
    background-color: white;
    color: black;

    @include cardContent();
}

.cardDragged {
    background-color: #456c86;
    color: white;
    z-index: 9999;

    @include cardContent();
}
